*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.container,
.scroller {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.scroller {
    overflow-y: scroll;
}

.scroller,
.scroller-inner {
    position: relative;
}

.container {
    position: relative;
    overflow: hidden;
    background: #34495e;
}

.menu-trigger {
    position: relative;
    padding-left: 60px;
    font-size: 0.9em;
}

.menu-trigger:before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    height: 6px;
    background: #fff;
    box-shadow: 0 6px #34495e, 0 12px #fff, 0 18px #34495e, 0 24px #fff;
    content: '';
}

.mp-pusher {
    position: relative;
    left: 0;
    height: 100%;
}

.mp-menu {
    position: absolute;
    /* we can't use fixed here :( */
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.mp-level {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #336ca6;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}


/* overlays for pusher and for level that gets covered */

.mp-pusher::after,
.mp-level::after,
.mp-level::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
    z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
    cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
}

.mp-pusher,
.mp-level {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


/* overlap */

.mp-overlap .mp-level.mp-level-open {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}


/* First level */

.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
    box-shadow: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* cover */

.mp-cover .mp-level.mp-level-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}


/* content style */

.mp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mp-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 2em;
}

.mp-menu.mp-overlap h2::before {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 75%;
    line-height: 1.8;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
    transition: opacity 0.3s, transform 0.1s 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.mp-menu ul li > a {
    display: block;
    padding: 0.7em 1em 0.7em 1.8em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 1.4em;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.mp-menu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2);
    line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
}


/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.mp-back::after {
    font-family: 'linecons';
    position: absolute;
    content: "\e037";
    right: 10px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.3);
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
    background: transparent;
    box-shadow: none;
    color: transparent;
}


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */


/* We'll show the first level only */

.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
    padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
    display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
    display: block;
}


/*Map Styles*/

.infoWindow {
    font-family: Roboto, Arial, sans-serif;
}

.infoWindow .title {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 20px;
}

.infoWindow .description {
    font-size: 16px;
    font-weight: 200;
    margin-top: 5px;
}


/*Info fixed window style*/

#infowindow {
    /*    visibility: hidden;*/

    position: absolute;
    left: 5%;
    z-index: 100;
    height: 80%;
    width: 250px;
    overflow: auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 0 1px 1px #cccccc;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #999;
    background-color: #ffffff;
}

.fixedWindowTitle {
    margin: 0;
    padding: 10px 5px;
    text-align: center;
    color: #fff;
    line-height: 23px;
    text-transform: capitalize;
}


.titlePlazasCobro {
    background-color: #0f397c;
    margin-top: -8px;
}

.titleServicios {
    background-color: #064536;
    margin-top: -8px;
}

.titleAlcantarillas {
    background-color:#563614 ;
    margin-top: -8px;
}

.titleCortes {
    background-color:#cf8501 ;
    margin-top: -8px;
}

.titleStructuras{

    background-color: #6E0000;
    margin-top: -8px;
}

.titleIntersecciones{
    background-color: #c0392b;
    margin-top: -8px;
}

#fixedWindow{

    line-height: 25px;
}

#fixedWindow img {
    width: 100%;
    height: 150px;
}

#fixedWindow .subTitle {
    color: #000;
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 0 4px;
    text-transform: capitalize;
}

#fixedWindow .description {
    margin: 5px 0;
    color: #000;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
    padding: 0 4px;
    text-transform: capitalize;
}

#displayInfo {

    margin-top: 50px;
    color: #000;
    line-height: 0;
    font-size: 110%;
    font-weight: bolder;
    font-family: Helvetica, arial, sans-serif;
    text-transform: capitalize;
}


/*Info from the filters */

.squareInfo {
    width: 98%;
    padding-left: 10px;
    margin: 15px 0;
    border-top: 5px solid #DEDEE0;
    border-right: 1px solid #DEDEE0;
    border-bottom: 1px solid #DEDEE0;
    border-bottom-left-radius: 15px;
      line-height: 25px;

}

.titleSquareInfo {
    font-size: 20px;
    padding-bottom: 5px;
    text-decoration: underline;
    font-weight: bolder;
}

.borderSquareInfoServicios {
    border-left: 10px solid #053E31;
}

.borderSquareInfoAlcantarillas {
    border-left: 10px solid #563614;
}

.borderSquareInfoCortes{

    border-left: 10px solid #cf8501;
}

.borderSquareInfoEstructuras{

     border-left: 10px solid #6E0000;
}

.borderSquareInfoIntersecciones{

     border-left: 10px solid #c0392b;
}
/* mas información button*/

p,
[class^="hvr-"] {
    font-family: 'Roboto', sans-serif;
}

[class^="hvr-"] {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    margin: 8px 0;
    padding: 5px 0;
    padding-left: 5px;
    cursor: pointer;
    background: #B22222;
    text-decoration: none;
    color: #ffffff;
    /* Prevent highlight colour when element is tapped */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 80%;
    border-bottom-right-radius: 30px;
    border: 3px solid #000000;
}

a .hvr-bounce-to-right {
    color: #2098D1;
    text-decoration: none;
}


/* Bounce To Right */

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B68400;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-bottom-right-radius: 30px;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    width: 101%;
}


/*Menú icons*/

.icons {
    padding-right: 5px;
}

#map_canvas {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #999;
    color: black;
    text-align: center;
}

.turnintodropdown {
    position: fixed;
    z-index: 5;
    color: #777;
    padding: 10px 0;
    font-size: 110%;
    width: 230px;
    background: #fff url(../img/select-arrow-open.png) 98% center no-repeat;
    border: 2px solid #414141;
    border-radius: 0 0 10px 10px;
}

.turnintodropdown:hover {
    color: #777;
    background: #f5f5f5 url(../img/select-arrow-open.png) 98% center no-repeat;
}

.turnintodropdown:focus {
    background-color: #eaeced;
    outline: 0px;
}

.proff {
    position: fixed;
}

/*main i mages sct scala*/

.img-izq{

    display: inline-block;
    margin-left: 5%;
    width: 12%;
}
.img-izq img{

    width: 95%;
    height: 80px;
    border: 5px solid #6a6a6a;
    border-radius: 5px;

}

.img-der{

    display: inline-block;
    margin-left: 1%;
    width: 12%;

}
.img-der img{

    width: 95%;
    height: 80;
    border: 5px solid #6a6a6a;
    border-radius: 5px;
}
